<app-navbar></app-navbar>

<main class="form-signin w-100 m-auto container">
  <form class="text-center" [formGroup]="form">
    <img
      class=""
      src="../../../assets/img/logo.png"
      alt="Logo"
      width="200"
      height="200"
    />
    <h1 class="h3 mb-3 fw-normal">Registro</h1>

    <!-- Nombre -->
    <div class="form-floating">
      <input
        formControlName="name"
        type="text"
        class="form-control"
        id="floatingInputName"
        placeholder="Nombre"
      />
      <label for="floatingInputName">Nombre</label>
      <!-- Validación de Nombre -->
      <div
        class="validators"
        *ngIf="form.controls['name'].errors && form.controls['name'].dirty"
      >
        <div *ngIf="form.controls['name'].errors?.['required'] || form.controls['name'].errors?.['minlength']">
          Ingrese un nombre con un mínimo de 4 caracteres
        </div>
      </div>
    </div>

    <!-- Correo -->
    <div class="form-floating">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="floatingInputEmail"
        placeholder="name@example.com"
      />
      <label for="floatingInputEmail">Correo</label>
      <!-- Validación de Correo -->
      <div
        class="validators"
        *ngIf="form.controls['email'].errors && form.controls['email'].dirty"
      >
        <div *ngIf="form.controls['email'].errors?.['required'] || form.controls['email'].errors?.['email']">
          Ingrese un correo válido.
        </div>
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-floating">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Contraseña"
      />
      <label for="floatingPassword">Contraseña</label>
      <!-- Validación de Contraseña -->
      <div
        class="validators"
        *ngIf="form.controls['password'].errors && form.controls['password'].dirty"
      >
        <div *ngIf="form.controls['password'].errors?.['required'] || form.controls['password'].errors?.['minlength']">
          Ingrese una contraseña con un mínimo de 6 caracteres
        </div>
      </div>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="form-floating">
      <input
        formControlName="confirmPassword"
        type="password"
        class="form-control"
        id="floatingConfirmPassword"
        placeholder="Confirmar Contraseña"
      />
      <label for="floatingConfirmPassword">Confirmar Contraseña</label>
      <!-- Validación de Confirmar Contraseña -->
      <div
        class="validators"
        *ngIf="form.controls['confirmPassword'].errors && form.controls['confirmPassword'].dirty"
      >
        <div *ngIf="form.controls['confirmPassword'].errors?.['required'] || form.controls['confirmPassword'].errors?.['minlength']">
          Ingrese una contraseña con un mínimo de 6 caracteres
        </div>
      </div>
    </div>

    <!-- Botón de Registro -->
    <button
      class="btn btn-lg btn-primary"
      type="submit"
      [disabled]="!form.valid"
      (click)="signUp()"
    >
      Registrarse
    </button>

    <!-- Enlace a Iniciar Sesión -->
    <div class="mt-4">
      <a routerLink="/login">Ya tengo una cuenta</a>
    </div>

    <!-- Pie de Página -->
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>
  </form>
</main>