.chat-container {
    position: fixed;
    bottom: 50px; /* Distancia desde el borde inferior */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: rgb(92, 44, 150);
    transition: transform 0.3s ease-in-out;
    width: 350px; /* Ancho del contenedor del chat */
    height: 400px; /* Alto del contenedor del chat */
  }
  
  .mensaje-container {
    background-color: #adadad;
    width: 100%;
    height: calc(100% - 100px); /* Alto del contenedor de mensajes */
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    justify-content: flex-end;
  }
  
  input {
    width: 70%;
    margin-left: 10px;
  }
  
  button {
    width: 25%;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .slide-out {
    transform: translateY(88%);
  }
  
  .slide-in {
    transform: translateY(0);
  }
  
  .header {
    margin: 0;
    padding: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .slide-out-button {
    transform: rotate(180deg);
    transition: transform 1s ease-in-out;
  }
  
  .slide-in-button {
    transition: transform 1s ease-in-out;
  }
  
  img {
    margin: 0;
    padding: 0;
    border-radius: 70px;
  }
  
  h1 {
    margin-left: 10px;
  }
  
  .base {
    padding: 7px;
    border-radius: 15px;
  }
  
  .message {
    display: flex;
    margin-bottom: 0px;
    align-items: end;
  }
  
  .message-bubble {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.9);
    width: 90%;
    padding: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .isUser {
    background-color: rgba(55, 118, 155, 0.9);
    transform: translateX(10%);
    text-align: end;
  }
  
  .time {
    font-size: 12px;
    color: #000000;
    text-align: end;
  }
  
  p {
    margin: 0;
  }
  
  .userName {
    color: rgb(66, 65, 64);
    border-bottom: 2px solid#000000;
    background-color: rgb(128, 128, 128);
    margin: 0;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .mensaje {
    text-align: start;
    padding: 8px 0px 0px 8px;
  }